.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.w-20r{
  width:15rem !important;
}
.h-20r{
  height:15rem !important;
}

.w-10r{
  width:10rem !important;
}

.w-40{
  width:40%;
}

.checked{
  color:orange
}

.u-text-line-though{
  text-decoration: line-through;
  color: gray;
}

.u-opacity-0{
  opacity: 0;
}

.footer{
  background-image: url('https://media.nngroup.com/media/editor/2019/01/16/clarity.png');
  background-size: cover;
  background-position: center;
  width:100%;
  height: 15rem;
}